#wrap_card{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    /* position: fixed; */
    /* overflow: hidden; */
    flex-direction: column;
    justify-content: center;
}

#wrap_info{
    margin-top: 15px;
    margin-bottom: 15px;

    #infoT{
        font-size: 17px;
        font-weight: 500;
    }
}

.flip-img{
    margin-top: 15px;
    margin-bottom: 20px;
    max-width: 180px;
    max-height: 166px;
    width: 180px;
    height: 166px;
    display: flex;
    justify-content: center;
    position: relative;
}

.flip-img-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-img-front{
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-img-back{
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);

    #card_charactor{
        max-width: 180px;
        width: 244px;
        border-radius: 20px;
        transition: all 2s ease-in-out;
    }
}

#card_thumb{
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
}

#card_charactor{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.flip-card {
    width: 80vw;
    height: 540px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    position: relative;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-front{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-back {
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-back {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    h1{
        font-size: 20px;
    }

    #card_thumb{
        max-width: 180px;
        width: 244px;
        border-radius: 20px;
    }

    h2, p{
        font-size: 12px;
    }
    .card_line{
        display: flex;

        p{
            margin-left: 5px;
            font-weight: 500;
        }
    }

    .card_desc{
        font-size: 12px;
        margin-top: 10px;
        text-align: left;
        max-width: 244px;
        height: 140px;
        line-height: 1.6;
    }
}

.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}
.click_area{
    color: #3E3C2F;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wrap_card .frontBtn{
    width: 255px;
    height: 50px;
    border: 0;
    border-radius: 30px;
    background-color: #A58250;
    font-size: 18px;
    font-weight: bold;
    color: white;
    /* position: absolute; */
    bottom: -60px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#wrap_card .backBtn{
    color: #4C77FF;
    width: 80vw;
    height: 50px;
    border: solid 1px #4C77FF;
    border-radius: 10px;
    background-color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    /* position: absolute; */
    top: 560px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#img_front{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

#img_back{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#wrap_card .card_info{
    max-width: 244px;
    width: 244px;
    margin-top: 12px;
    margin-bottom: 15px;

    table{
        width: 100%;
        border-radius: 5px;
        border-collapse: collapse;
        border-style: hidden;
        box-shadow: 0 0 0 1px #4C77FF;

        tr, th, td{
            border: 1px solid #4C77FF;
        }

        th{
            font-size: 12px;
            padding-top: 5px;
            width: 56px;
        }
        td{
            text-align: left;
            padding-left: 16px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}

@media screen and (max-width: 375px){

}

@media screen and (min-width: 376px){
    #wrap_card{
        height: 100vh;
    }
}

@media (min-width : 1024px){
    .flip-card{
        width: 24vw;
    }
    #wrap_card .backBtn{
        width: 24vw;
    }
}