#wrap_puzzle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
}

#wrap_title{
    position: absolute;
    top: 8vh;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #DCDCDC;
}

#puzzle_title{
    text-align: center;
    font-size: 20px;
}

@media screen and (min-width: 375px) and (max-width: 389px){
    #wrap_title{
        top: 3vh;
    }
    #puzzle_title{
        margin-top: 40px;
    }
}
.puzzle_area{
    width: 260px;
    height: 240px;
    position: relative;

    img{
        width: 100%;
    }
}

#puzzle1{
    position: absolute;
    top: 0;
    left: 0;
}

#puzzle2{
    position: absolute;
    right: 0;
    top: 0;
}

#puzzle3{
    position: absolute;
    bottom: 0;
    left: 0;
}

#puzzle4{
    position: absolute;
    bottom: 0;
    right: 0;
}

#puzzle5{
    position: absolute;
    top: 58px;
    left: 62.5px;
}

.puzzle_back{
    position: relative;
    background: #4C77FF;
    color: #FFFFFF;
    padding-top: 19px;
    padding-left: 21px;
    padding-right: 19px;
    padding-bottom: 96px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}

.util_area{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 260px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav_button{
        width: 85px;
        height: 36px;
        border: none;
        margin-right: 19px;
        background: #FFFFFF;
        color: #424242;
        font-weight: 500;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#count_text{
    font-weight: 400;
    margin-left: 21px;
    font-size: 15px;
}

#count_info{
    font-size: 20px;
}

.wrap_button{
    width: 80vw;
    max-width: 344px;

    button{
        width: 100%;
        height: 52px;
        background-color: #FFFFFF;
        border: 1px solid #4C77FF;
        border-radius: 10px;
        font-size: 4vw;
        margin-top: 4vh;
    }
}