@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

body{
    margin: 0;
    background-color: #F7F7F7;
    /* overflow: hidden; */
    font-family: "Pretendard Variable", Pretendard;
    color: #424242;
}

h1, p, h2, ul, li, h3{
    margin: 0;
    padding: 0;
}

ul, li{
    list-style: none;
}