
#video_background{
    background-color: #4C77FF;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#video_background .wrap_txt{
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    #text_name{
        font-size: 20px;
        color: #FFFFFF;
        width: 100%;
        text-align: center;
        position: relative;
    }

    .closeA{
        position: absolute;
        right: 38px;
        width: 16px;
    }

}

#wrap_video{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#videoElement{
	width: 100%;
	height: 375px;
	background-color: white;
}

#webcam-container{
    width: 100%;
    height: 100%;
}

#webcamVideo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#video_background #video_button{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100;
    align-content: center;
}

.submit_area{
    width: 279px;
    height: 340px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 30px;
    position: relative;
}

#an_text{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
}

.text_area{
    padding-top: 40px;
}

.img_area{
    text-align: center;
}
.img_area img{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.button_area{
    text-align: center;

    .submitB{
        width: 210px;
        height: 52px;
        border: 0;
        border-radius: 30px;
        background-color: #4B76FF;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 400;
    }
}

.submit_area .closeB{
    position: absolute;
    top: 24px;
    right: 28px;
}

.bottom_img{
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    width: 100%;
}

@media screen and (min-width: 375px) and (max-width: 389px){
    .bottom_img{
        bottom: -40px;
    }
}